USE [master]
GO
/****** Object:  Database [chatonline]    Script Date: 06/02/2026 9:44:36 AM ******/
CREATE DATABASE [chatonline]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'chatonline', FILENAME = N'G:\chat_online\chatonline.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'chatonline_log', FILENAME = N'G:\chat_online\chatonline_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [chatonline].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [chatonline]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 06/02/2026 9:44:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[username] [nvarchar](20) NOT NULL,
	[password] [nvarchar](20) NOT NULL,
	[fullName] [nvarchar](50) NULL,
	[isOnline] [bit] NULL,
 CONSTRAINT [UQ_Username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
